body {
	background: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6E6E6E;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1, h1 a, h2, h2 a {
	text-decoration: none;
	color: #7b0010;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	font-style: italic;
}

h3 {
	font-size: 16px;
	color: #939292;
}


p, ul, ol {
	margin-top: 1.5em;
	line-height: 190%;
}

ul, ol {
	margin-left: 3em;
}

a {
	color: #125798;
}

a:hover {
	text-decoration: none;
	color: #8D0000;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin-right: 20px;
}

img.right {
	float: right;
	margin-right: 20px;
}


hr{
width:75%;
border: 2px dashed #888888;
}
/* Menu */

#menu {
	width: 920px;
	height: 62px;
	margin: 0 auto;
	background: #4E9FC8;
	border-radius: 20px;
	box-shadow: 5px 5px 2px grey;
	font-size: 17px;
	text-align: center;		
}

#menu ul {
	margin: 0 auto;
	padding: 23px 0 0 100px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0 18px 0 20px;
	background: no-repeat left center;
}

#menu li.first {
	background: none;
	text-decoration: underline;
	color: #FFFFFF;
	
}

#menu a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}



/* Search */

#search {
	float: right;
	width: 200px;
}

#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}



#search #s {
	width: 150px;
}

#search #x {
	display: none;
}



/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding: 15px 35px 0 25px;
	align-items: center;
	
}

/* Content */

#content {
	float: right;
	width: 603px;
}

#content h3 {
	height: 36px;

	padding: 8px 0px 0px 20px;
	font-size: 14px;
	color: #FFFFFF;
}

/* Sidebar */



/* Footer */

footer {
	clear: both;
	width: 880px;
	height: 54px;
	margin: 0 auto;
	background: url(images/footer.jpg) repeat-x;
	background-position: center 10%;
}

footer p {
	margin: 0;
	padding: 35px 45px;
	line-height: normal;
	color: #444444;
}

footer a {
	color: #444444;
}

footer .credit {
	float: right;
}

/* Box */
#box{
    width: 500px;
    height: 100px;
    padding: 15px;
    background-color: #ffccff;
    box-shadow: 6px 6px 3px grey;
}
/* table */
thead {
color:#324F17;
}

tbody {
color:#0000bc;
}
tfoot {
color:#a00000;
}

table,th,td {
border:1px solid black;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

th {
    height: 40px;
} 

td {
    height: 25px;
	padding: 7px;
} 



/* Центриране на таблици и списъци в съдържанието */
#content table,
#content ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content ul li {
    text-align: left;
    margin-bottom: 0.5em;
}


th, td {
    text-align: center;
}
